/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // withName: FINDFILES {
    //     publishDir = [
    //         path: { "${params.outdir}/genome_info" },
    //         // mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }
    //
    // withName: PARSESUMMARY {
    //     publishDir = [
    //         path: { "${params.outdir}/genome_summary" },
    //         // mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }
    //
    withName: BUSCO {
        ext.args = '--mode genome'
        publishDir = [
            path: { "${params.outdir}/busco" },
            // mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: DOWNLOAD_FASTA {
        publishDir = [
            path: { "${params.outdir}" },
            // mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('*.raw.fa') ? null : filename }
        ]
    }

    withName: BLOBTOOLKIT {
        publishDir = [
            path: { "${params.outdir}/blobtoolkit" },
            // mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
